[submodule "slide"]
	path = slide
	url = git@github.com:gunadarma-academy/asde-michi-slide.git
	branch = master
[submodule "test"]
	path = test
	url = git@github.com:gunadarma-academy/asde-michi-test.git
	branch = master
[submodule "backend"]
	path = backend
	url = git@github.com:gunadarma-academy/asde-michi-backend.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = git@github.com:gunadarma-academy/asde-michi-frontend.git
	branch = master
